<style>
body {
   background-image: url('http://www.intelligentelp.com/wp-content/uploads/2015/05/stadium.jpg');
   background-size: cover;
}
</style>

<h1 align="center">Welcome to Paid2Play</h1><br><br><br><br><br>
<div class="pizza">

<br><br><br><br>
         <h1>"Where Athletes, Teams and Events connect with up-and-coming Brands!"</h1><br><br><br>
   
         <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<h2>

</h2>
</div>
