<div class="container">
<p>Search by:</p>
<%= form_tag(campaigns_path, method: "get") do %>
<select name=campaign[:category]>
<option value="Food_Beverage">Food_Beverage</option>
 <option value="Apparel">Apparel</option>
 <option value="Equipment">Equipment</option>
  <option value="Supplements">Supplements</option>
</select><br> <br>

<!-- <select name=campaign[:budget]>
<option value="$100 - $500">$100 - $500</option>
<option value="$500 - $1,0000">$500 - $1,0000</option>
 <option value="$1,000 - $5,000">$1,000 - $5,000</option>
 <option value="$5,000 - $1,5000">$5,000 - $1,5000</option>
  <option value="$1,5000 < ">$1,5000 < </option>
</select><br> <br> -->

<select name=campaign[:type_of]>
 <option value="Social Media Post">Social Media Post</option>
 <option value="Guest Speaker">Guest Speaker</option>
 <option value="Photoshoot">Photoshoot</option>
 <option value="Event Appearance">Event Appearance</option>
 <option value="Logo Placement">Logo Placement</option>
 <option value="Product Endorsement">Product Endorsement</option>
</select><br> <br>

<select name=campaign[:status]>
 <option value="Pending">Pending</option>
 <option value="Active">Active</option>
 <option value="Completed">Completed</option>
</select><br> <br>
 <%= submit_tag "Search" %>
<%end%>

<%@campaigns.each do |campaign|%>
<h3><%=link_to campaign.title, campaign_path(campaign)%></h3><br>
<%end%>
</div>